{% extends "index.html" %}

{% block encabezado %}
	<h2>
    	{{ titulo }}
    	-
    	<small>{{ contenido }}</small>
	</h2>
{% endblock %}

{% block contenido %}
	{% for habitacion in habitaciones %}

		<article>
			<header>
				<h2>
				{{ habitacion.nombre|capitalize }}
				-
				<small>
					<a href="index.php?contr=habitacionesController.php&id={{ habitacion.id }}&accion=ver">Ver Habitacion</a>
				</small>
				</h2>
			</header>
			<section>{{ habitacion.planta }} - {{ habitacion.disponibilidad }}</section>
		</article>
		<hr>

	{% endfor %}
{% endblock %}