{% extends "index.html" %}

{% block encabezado %}
	<h2>
    	{{ titulo }}
	</h2>
{% endblock %}

{% block contenido %}
		<article>
			<header>
				<h2>
				{{ habitacion.nombre|capitalize }}
				</h2>
			</header>
			<section>
				{{ habitacion.planta }} 
				- 
				{{ habitacion.disponibilidad }}
			</section>
			<section>
				{% for imagen in habitacion.imagenes %}
					<img src="images/{{ imagen.fichero }}" alt="{{ imagen.texto }}" title="{{ imagen.texto }}" width="100">
				{% endfor %}
			</section>
		</article>
		<hr>
{% endblock %}