<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plantilla básica de Bootstrap</title>
 
    <!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <section class="container">
      <header>
        {% block encabezado %}
          Estas en encabezado
        {% endblock %}
      </header>
      <nav>
        {% block menu %}
           AQUI EL MENUUUUUU
        {% endblock %}
      </nav>
      <section>
        {% block contenido %}
          AQUI VA EL CONTENIDO
        {% endblock %}
      </section>
      <footer>
        {% block pie %}
          AQUI VA EL PIEEEE
        {% endblock %}
      </footer>
    </section>
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>